/* Increase font size for the DataTable */
.custom-data-table .rdt_TableCell {
    font-size:14px;
  }

.custom-data-table .rdt_TableHeadRow{
    font-size:17px;
    font-weight: bold;
}


.transparent-table tr,
.transparent-table td,
.transparent-table th {
  background-color: transparent !important;
}

.custom-border-table td,
.custom-border-table th {
  border-color: #ACACAC; 
}

.custom-header-color th {
  color: #ACACAC;
}



.sidebar {
  transition: width 0.3s ease;
}